/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#dbgimg img {
  width: 100%;
  border: 1px solid black;
}

:root {
  --mdc-dialog-container-color: rgba(255, 255, 255, 0.75);
}
